@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

* {
  padding: 0;
  margin: 0;
}


body {
  text-align: left;
  background-image: url("../images/ocean.jpg");
  font-family: Helvetica;
  font-size: 22px;
  line-height: 1.3;
  margin: 20px;
  color: #ffffff;
  background-size: cover;

}


header {
  background-color:  #FFED74;
  border: 1px black solid;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  /*background-color: #46c7e5;*/
  padding: 20px;
  color: #ffffff;
}

a{
  color: #ffffff;
  
  /*text-decoration: none;*/
}

nav {
  background-color: #E8C66A;
  border: 1px black solid;
  padding: 20px;
}

nav a{
  
  color: #ffffff;
  font-style: italic;
  margin-right: 10px;
  line-height: 2;
  text-align: center;
}

div {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 20px;
}


section {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
}

article {
  background-color: #E89C6C;
  border: 1px black solid;
  padding: 20px;
}

footer {
  background-color: #FF957E;
  border: 1px black solid;
  padding: 20px;
}

#imagenav {
  color: #ffffff;
  font-style: italic;
  margin-top: 10px;
  margin-right: 25px;
  line-height: 2;
  text-align: center;
}

#italic {
  
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}


h2,h3,h4,h5 {
  color: #ffffff;
  font-size: 22px;
  margin: 20px 0;
  font-family: 'Gloria Hallelujah', cursive;
}


#about {
  font-size: 22px;
  margin: 20;
  /*font-style: italic;*/
}

ul {
    text-align: left;
    list-style-type: none;
    margin: 25px;
   width: 100%;
   color: #ffffff;
}

/*img {
  width: 400px;
  border: 3px solid black;
  position: relative; 
  float: center;
    
  /*margin: 0 0 10px 10px;
  /*height: 10px;
  
  display: inline-block;
  margin: 20px;   
}*/

#paragraphimage {

  font-size: 18px;
  margin-top: 20px;
  margin-left: 25px;
  color: #ffffff;
  /*font-style: italic;*/
}


#mexico { 
  width: 500px;
  height: 500px;
  background-image: url('../images/cabo.jpg');
  background-size: cover;
  background-position: center center;
  vertical-align: top;
}

#guana { 
  width: 500px;
  height: 500px;
  background-image: url('../images/guana.jpg');
  background-size: cover;
  background-position: center center;

    }

#tulum { 
  width: 500px;
  height: 500px;
  background-image: url('../images/tulum.jpg');
  background-size: cover;
  background-position: center center;
}

#puertomorelos { 
  width: 500px;
  height: 500px;
  background-image: url('../images/cancun.jpg');
  background-size: cover;
  background-position: center center;
}

#wellness { 
  width: 500px;
  height: 500px;
  background-image: url('../images/wellness.jpg');
  background-size: cover;
  background-position: center center;
}

#workout { 
  width: 500px;
  height: 500px;
  background-image: url('../images/frog.jpg');
  background-size: cover;
  background-position: center center;
}
.texton { 
  margin-top: 25px;
  margin-left: 25px;
/*position: absolute; 
  width: 100%;
   */ 
}




.social-media{
    display: flex;
    justify-content: center;
}




/* The hero image*/
/*.hero-image {
    /* The image used */
    /*background-image: url("images/ocean.jpg");


    /* Position and center the image to scale nicely on all screens */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}*/

/* Place text in the middle of the image */
/*.hero-text {
    /*text-align: center;
    /*position: absolute;*/
    /*top: 30%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    /*color: #000;
}*/